*{
    margin: 0px;
}

html{
    height: 100%;
}

body
{
    background-image: linear-gradient( #0046ae, #9198e5);
}
div:hover {
    background-color: brown;
    cursor: pointer;
}


.master
{
    padding: 5px;
    text-align: center;
    margin: auto;
    margin-top: 100px;
    background-image: linear-gradient(rgba(171, 179, 192, 0.694), rgba(220, 234, 248, 0.674));
    height: 400px;
    width: 270px;
    border-radius: 20px;
    box-shadow: 2px 2px 8px #2e2e2e;
}

.master:hover
{
    background-image: linear-gradient(rgba(171, 179, 192, 0.796), rgba(220, 234, 248, 0.792));  
}

img
{
    margin: auto;
    margin-top: 5px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

img:hover
{
    box-shadow: 2px 2px 8px #2e2e2e;
    transition: 0.4s;
}

p
{
    /*margin: 50px;*/
    padding: 10px;
    color: white;
    text-shadow: 2px 2px 8px #2e2e2e;
    font-family: 'Franklin Gothic Medium';
    display: contents;
}

.Name
{
    color: #666666;
    /*font-family: 'Franklin Gothic Medium';*/
    font-size: smaller;
    /*display: contents;*/
}

.Name:hover
{
    color: #2e2e2e;
    cursor: pointer;
    transition: 0.2s;
}

li
{
    display: inline-block;
    margin-top: 15px;
    margin-left: 10px;
    
button
{
    border: :#ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}
button:hover
{
    border-color: #bebebe;
}

input
{
    width: 250px;
}

.Time
{
    text-align: left;
    text-shadow: none;
}

ul
{
    padding-right: 40px;
}

.play,
.back,
.for{
    border-color: #ffffff;
    width: 45px;
    height: 45px;
    border-radius: 50%;
}

.back
.for
.play while mouseover -> {
    border-color: #bebebe;
}

